# EditorConfig: https://EditorConfig.org

# This is the file in the root of the project.
root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab
