# Folder
build

# Compiler-generated binarie
*.o
*.d
*.map

# Executable file
*.dol
*.elf

# Compiled static library
*.a

# Visual Studio Code
.vscode/*

# Programmer's Notepad state file
*.pnps

# Generated doxygen documentation
/html
/latex

# Temporary file
*.tmp
