name: Continuous Integration

on: [push, pull_request]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkitppc:latest

    steps:

    - name: Checkout the Git repository
      uses: actions/checkout@v3

    - name: Build library and examples
      run: |
        (cd GRRLIB && make clean all install)
        (cd GRRLIB/GRRLIB && make PLATFORM=cube clean all install)
        (cd examples && make)

    - uses: actions/upload-artifact@master
      with:
        name: examples
        path: |
          examples/**/*.elf
          examples/gamecube/**/*.dol
          !examples/template/*
